@import 'nib'

.container
  width 80%
  margin-top 20px
  border 1px solid
  border-radius 6px
  padding 10px
  overflow hidden

.provider
  margin 10px

.btn-sm
  margin 5px

.offer-info
  text-align center

.row
  position relative
  transition all linear 0.2s
  opacity 1

.row.ng-hide
  margin-left 100%
  opacity 0

.row.ng-hide-add
.row.ng-hide-remove
  display block!important
