doctype html
html

  block vars

  head

    title #{pageTitle} &mdash; @rhrn
    link(href="https://netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.min.css", rel="stylesheet")
    link(rel="icon", type="image/x-icon", href="/favicon.ico")
    meta(name="viewport" content="width=device-width")
    meta(charset="utf-8")

  body

    div.row-fluid.header
      div.span8.offset2
        a(href="/")
          img(src="/static/img/rhrn-github-io-qr.png")

    div.row-fluid.content
      div.span8.offset2
        block content

    div.row-fluid.footer
      div.span8.offset2

    block analytics
      include ga

    if livereload
      script(src="http://localhost:35729/livereload.js")
