doctype html
html
  head
    title css3 flip card

    link(rel="stylesheet" href="style.css")
    meta(name="viewport" content="width=device-width")

    
  body
    .container
      #offer
        .front front
          button click me!
        .back back

    script(src="script.js")
    include ../../../layouts/ga
